<div id="table-cart-products">
    <h1>Carrito con id: {{id}}</h1>
    <a href="/api/productos"><button>+ agregar producto al carrito</button></a>
    {{#if productsCart.producto}}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Codigo</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>delete</th>
            </tr>
            {{#each productsCart.producto}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.descripcion}}</td>
                    <td>{{this.codigo}}</td>
                    <td><img src="{{this.foto}}" alt="{{this.nombre}}"></td>
                    <td>{{this.precio}}</td>
                    <td>{{this.stock}}</td>
                    <td>
                        <a onclick=deleteProduct({{this.id}})>
                            <img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-256.png" alt="icono eliminar">
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    {{else}}}
        <h2>No hay productos en este carrito...</h2>
    {{/if}}
</div>
<script>
    function deleteProduct(id){
        let link = window.location.href+"/"+id
        fetch(`${link}`,{
        method:"DELETE"
        })
        .then(response => response.json())
        .then( location.reload())
    }
</script>